@import "tailwindcss";
@plugin 'tailwind-scrollbar' {
    nocompatible: true;
}

/* 自定义滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #18181b; /* zinc-900 */
}

::-webkit-scrollbar-thumb {
  background: #3b3b40; /* zinc-700 */
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525b; /* zinc-600 */
}

/* 隐藏默认滚动条但保持滚动功能 */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}
